.wrapper-list {
  background-color: #820300;
  min-height: 60vh;
  color: #fff;
}
.wrapper-list .list-item-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.wrapper-list .list-item-wrapper .items {
  display: flex;
  align-items: center;
}

.wrapper-list .list-item-wrapper .items .checkbox {
  margin-right: 10px;
  cursor: pointer;
}
.wrapper-list .list-item-wrapper .items .btn-delete {
  margin-left: 10px;
  cursor: pointer;
}

/* actions */
.wrapper-list .actions {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;

  @media (max-width: 991.98px) {
    flex-direction: column;
  }
}

.wrapper-list .actions select {
  border: none;
  border-radius: 5px;
  background: #ff9800;
  padding: 8px;
  color: #ffffff;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.wraper-list .actions select option {
  font-weight: 400;
}

.wrapper-list .actions .btn-clear {
  background-color: #5f8670;
  color: #ffffff;
  font-weight: 700;
  padding: 8px 20px;
  transition: color 0.6s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
}
.wrapper-list .actions .btn-clear:hover {
  color: #ff9800;
}
