.wraper-list {
  background-color: #820300;
  min-height: 60vh;
  color: #fff;
}
.wraper-list .list-item-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.wraper-list .list-item-wrapper .items {
  display: flex;
  align-items: center;
}

.wraper-list .list-item-wrapper .items .checkbox {
  margin-right: 10px;
  cursor: pointer;
}
.wraper-list .list-item-wrapper .items .btn-delete {
  margin-left: 10px;
  cursor: pointer;
}
